* {
  margin: 0;
  padding: 0;
}

.graphic{
  position: absolute; 
  max-width: 30%; 
  height: auto; 
  width: auto\9;
  bottom: 0px; 
  right: 0px
}

html {
  scroll-behavior: smooth;
}

body{
  font-family: 'Anta', sans-serif;
  font-weight: 400;
}

section {
  background-color: whitesmoke;
}

.hero {
  background-color: rgb(31, 30, 30);
  height: 100vh;
  color: whitesmoke;
  font-size: 40px;
}

footer {
  background-color: rgb(0, 0, 0);
  border-top: #00AD89 solid 8px;
  border-bottom: #00AD89 solid 6px;
  color: whitesmoke;
  text-align: center;
  padding-top: 5px;
}

nav {
  display: flex;
  justify-content: flex-end;
}

ul {
  display: flex;
  list-style-type: none;
  width: 500px;
  justify-content: space-around;
  font-size: 32px;
  margin-top: 30px;
}

li {
  text-decoration: none;
}

h1 {
  font-size: 90px;
  margin-bottom: 20px;
}

h2 {
  font-size: 50px;
  margin: 40px 0px 30px 0px;
}

h3 {
  font-family: 'Consolas', 'Monaco', 'Cascadia Code', 'Fira Code', 'Source Code Pro', 'SF Mono', monospace;
  font-weight: 100;
  font-size: 25px;
  margin: 15px 0px 15px 0px;
}

h4 {
  font-family: 'Consolas', 'Monaco', 'Cascadia Code', 'Fira Code', 'Source Code Pro', 'SF Mono', monospace;
  font-weight: 600;
}

hr {
  margin: 8px 20px;
}

p {
margin: 0;
font-size: 25px;
font-weight: 100;
margin-bottom: 15px;
font-family: 'Consolas', 'Monaco', 'Cascadia Code', 'Fira Code', 'Source Code Pro', 'SF Mono', monospace;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

svg {
  padding-top: 10px;
}

.hero-area {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.hero-text{
  margin-left: 80px;
  margin-bottom: 200px;
}

.button {
  width: 200px;
  height: 45px;
  border-radius: 30px;
  background-color: #00AD89;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  padding-top: 5px;
  margin-top: 20px;
}

.button:hover {
  background-color: #4dffbb;
}

.button:active{
  background-color: #bfbfbf;
  color: #666666;
}

.socials{
  float: right;
}

.icon {
  margin: 15px;
}

.subsection {
  display: flex;
  justify-content: space-around;
  padding: 80px;
}

.subsection-alt {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 80px, 80px, 0px, 80px;
}

.headshot-section {
  display: flex;
  align-items: center;
}

.headshot {
  width: 300px;
  border-radius: 150px;
  margin-left: 50px;
  border: #00AD89 solid 4px;
}

.card {
  height: 535px;
  width: 300px;
  margin-bottom: 25px;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.project-container {
  display: flex;
  justify-content: space-around !important;
  flex-wrap: wrap;
}

.project-image {
  width: 250px;
  height: 275px;
  margin-top: 30px;
  border-radius: 10px;
  object-fit: cover;
}

.subtext {
  font-size: 14px;
  font-family: 'Consolas', 'Monaco', 'Cascadia Code', 'Fira Code', 'Source Code Pro', 'SF Mono', monospace;
  font-weight: 400;
  margin: 18px;
  line-height: 1.4;
  color: #555555;
  text-align: left;
}

.view-text {
  text-decoration: none;
  color: black;
  transition: all 0.3s ease;
  padding: 8px 12px;
  border-radius: 6px;
  background-color: transparent;
  display: inline-block;
}

.view-text:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.view-text:active {
  background-color: rgba(0, 0, 0, 0.2);
  color: rgb(20, 20, 20) !important;
}

.card .subtext:last-child {
  text-align: center;
}

.view-older-btn {
  transition: all 0.3s ease;
  padding: 10px 15px;
  border-radius: 8px;
  background-color: transparent;
  display: inline-block;
}

.view-older-btn:hover {
  background-color: rgba(47, 49, 49, 0.1);
}

.view-older-btn:active {
  background-color: rgba(47, 49, 49, 0.2);
  color: rgb(30, 32, 32) !important;
}

.hamburger {
  display: none;
}

.hamburger:focus{
  outline: 0;
}

@media only screen and (max-width: 800px) {
  .hamburger {
    display: block;
    border: 0;
    background-color: transparent;
    color: whitesmoke;
    font-size: 35px;
    margin: 0px 40px 50px 0px;
    align-self: flex-end;
  }

  ul {
    display: none;
  }

  ul.show {
    display: block;
    margin-bottom: 50px;
  }

  li {
    margin-left: 30px;
  }

  nav {
    display: flex;
  }
}

/* ----------- iPhone 12, 12 Pro ----------- */

/* 2532x1170 pixels at 460ppi */ 
@media only screen 
and (device-width: 390px) 
and (device-height: 844px) 
and (-webkit-device-pixel-ratio: 3) {
  .hamburger {
    display: block;
    border: 0;
    background-color: transparent;
    color: whitesmoke;
    font-size: 100px;
    margin: 0px 40px 50px 0px;
    align-self: flex-end;
  }

  ul {
    display: none;
  }

  ul.show {
    display: block;
    margin-bottom: 50px;
    font-size: 75px;
  }

  li {
    margin-left: 30px;
    padding: 10px;
  }

  nav {
    display: flex;
  }

  h1{
  font-size: 110px;
  }
  hero-text.p{
    font-size: 70px;
  }

}

.submit-button {
	background-color:#00AD89;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Raleway;
	font-size:15px;
	padding:11px 20px;
	text-decoration:none;
  border: 0;
}

/* VARIABLES */
*,
:before,
:after {
  box-sizing: border-box;
}

body {
  background: #424242;
}

/* FORM */
form {
  width: 320px;
  margin: 45px auto;
}

form h1 {
  font-size: 3em;
  font-weight: 300;
  text-align: center;
  color:#00AD89;
}

form h5 {
  text-align: center;
  text-transform: uppercase;
  color: #d4d4d4;
}

form hr.sep {
  color:#00AD89;
  box-shadow: none;
  border: none;
  height: 2px;
  width: 25%;
  margin: 0px auto 45px auto;
}

form .emoji {
  font-size: 1.2em;
}

.group {
  position: relative;
  margin: 45px 0;
}

/* INPUTS */
textarea {
  resize: none;
}

input,
textarea {
  background: none;
  color: #d4d4d4;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 320px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #d4d4d4;
}

input:focus,
textarea:focus {
  outline: none;
}

input:focus ~ label,
input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
  top: -14px;
  font-size: 12px;
  color:#00AD89;
}

input:focus ~ .bar:before,
textarea:focus ~ .bar:before {
  width: 320px;
}

input[type="password"] {
  letter-spacing: 0.3em;
}

label {
  color: #d4d4d4;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 300ms ease all;
}

.bar {
  position: relative;
  display: block;
  width: 320px;
}

.bar:before {
  content: '';
  height: 2px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background-color:#00AD89;
  transition: 300ms ease all;
  left: 0%;
}

/* BUTTONS */
.btn {
  background: #fff;
  color: #787878;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.btn:hover {
  color: #6b6b6b;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
}

.btn.btn-link {
  background:#00AD89;
  color: #c3e4f7;
}

.btn.btn-link:hover {
  background: #1976D2;
  color: #b1dcf6;
}

.btn.btn-submit {
  background-color:#00AD89;
  color: #c3e4f7;
}

.btn.btn-submit:hover {
  cursor: pointer;
  color: white;
}

.btn.btn-cancel {
  background: #eee;
}

.btn.btn-cancel:hover {
  background: #dcdcdc;
  color: #6b6b6b;
}

.btn-box {
  text-align: center;
  margin: 50px 0;
}
